@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,500;0,14..32,600;0,14..32,700;0,14..32,800&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  background: #f2f2f2;
  font-family: 'Inter', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}
